.mobile{
    display: none;
}

header{
    width: 100%;
    height: 4rem;
    background-color: #131A5D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

header a, header a img{
    height: 100%;
}

header form{
    width: 30vw;
    height: 3rem;
}

header form .form-control {
    margin: 0;
}

header form .btn-outline-success{
    color: #fff;
    border-color: #fff;
}

header form .btn-outline-success:hover{
    background-color: #00A4BD ;
}

.btnHeader{
    display: flex;
    align-items: center;
}

.btnHeader button{
    margin-right: 8px;
}

.btnHeader .btn-primary{
    background-color: #00A4BD;
}


.btnHeader .btn-primary:hover{
    background-color: #0b5ed7;
}


.btnHeader .btn-outline-secondary{
    color: #fff;
}

.responsive {
    display: none;
}

.card {
    border-radius: 15px;
}
.card-title {
    font-weight: bold;
}
.btn-primary {
    width: 100%;
}
.card-img {
    object-fit: cover;
    height: 100%;
    border-radius: 15px 0 0 15px;
}


.col-md-4 {
    display: flex;
    align-items: stretch;
}

.btn-inscribirse {
    background-color: #ED8634;
    border-color: #ED8634;
}


.btn-inscribirse:hover {
    background-color: #d2782e;
    border-color: #d2782e;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
}

.charts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 3rem 0;
}

.barChart, .lineChart{
    width: 45%;
}

footer {
    width: 100%;
    background-color: #131A5D;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    position: relative;
    margin-top: auto;
}

footer .footer-left,
footer .footer-center,
footer .footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer .footer-center {
    align-items: center;
}

footer .footer-right {
    align-items: flex-end;
}

footer .footer-right .social-icons {
    display: flex;
    gap: 0.5rem;
}

footer .footer-right .social-icons a img {
    width: 24px;
    height: 24px;
    fill: currentColor;
}

footer .footer-left p,
footer .footer-center img,
footer .footer-right .social-icons a {
    margin: 0.5rem 0;
}

footer .footer-left p {
    margin: 0;
}

footer .footer-center img {
    max-width: 170px;
    height: auto;
}

footer a {
    color: inherit;
    text-decoration: none;
}

footer a:hover {
    color: #FFD700;
}

.nav-tabs .nav-link {
    border: 1px solid #131A5D !important;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    color: #131A5D !important;
    transition: background-color 0.2s;
}
.nav-tabs .nav-link:hover {
    border-color: #dee2e6 #dee2e6 #f8f9fa;
    background-color: #ED8634;
}
.nav-tabs .nav-link.active {
    color: white !important;
    background-color: #00A4BD !important;
    border-color: #131A5D !important;

}
.tab-content {

    border-top: none;
    padding: 20px;
    background-color: #fff;
}
.tab-pane h2 {
    color: #131A5D;
}

@media screen and (max-width: 768px){
    header{display: none;}
    .mobile{
        display: flex;
        padding: 1rem;
    }
    header .btn-outline-success{
        color: #fff;
        border-color: #fff;
    }
    .userIcon{
        height: 2rem;
        width: 2rem;
    }
    .c2, .c3{
        display: none !important;
    }
    .filtros{
        display: none;
    }
    .filtrosDropdown{
        display: block;
        padding: 1rem 3rem;
    }
    .filtrosDropdown .btn{
        width: 100%;
        background-color: #ED8634;
        border: none;
    }
    .dropdown-menu{
        width: 80%;
    }
    .mainContainer{
        display: flex;
        flex-direction: column;
    }
    .charts{
        flex-direction: column;
    }
    .barChart, .lineChart{
        margin: 2rem;
        width: 80%;
    }
    .card-img {
        border-radius: 15px 15px 0 0;
    }

}