body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    width: 100%;
    overflow-x: hidden; 
}

p{
    font-size: smaller;
}

.mobile{
    display: none;
}

header{
    width: 100v%;
    height: 4rem;
    background-color: #131A5D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

header a, header a img{
    height: 100%;
}

header form{
    width: 30vw;
    height: 3rem;
}

header form .form-control {
    margin: 0;
}

header form .btn-outline-success{
    color: #fff;
    border-color: #fff;
}

header form .btn-outline-success:hover{
    background-color: #00A4BD ;
}

.btnHeader{
    display: flex;
    align-items: center;
}

.btnHeader button{
    margin-right: 8px;
}

.btnHeader .btn-primary{
    background-color: #00A4BD;
}

.btnHeader .btn-outline-secondary{
    color: #fff;
}

.responsive {
    display: none;
}

h3{
    margin: 1rem 0 0 8rem !important;
}
.carrusel {
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 1rem 3rem 0 3rem;
}
.container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
}
.container .card {
    width: 100% !important; 
    height: auto;
    margin: 0 .5rem;
}
.card:hover, .flecha:hover {
    cursor: pointer;
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card-text{
    display: flex;
    height: auto;
    margin: 0;
}


.imgCurso{
    height: 8rem;
    width: 100%;
    object-fit: cover !important;
}

.flecha{
    width: 3rem;
    opacity: 50%;
}

.mainContainer{
    width: auto;
    margin: 1rem 3rem;
    display: grid;
    grid-template-columns: 20% auto;
    gap: 1rem;
}

.catalogoTitle{
    margin-left: 3rem !important;
}

.filtrosDropdown{
    display: none;
}

.filtros{
    display: block;
}

.grupoFiltro{
    border-top: .5px solid #131A5D30;
    padding: 2rem 0 2rem 1rem;
}

.filtro{
    padding-top: .5rem;
}

a{
    text-decoration: none !important;
    color: black !important;;
}

.newCourseCard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.nuevo{
    color: #ED8634;
    padding-right: 1rem;
}

.imgContainer{
    height: 70%;
}

.card-img-top{
    height: 12rem;
    object-fit: cover;
}

footer{
    background-color: #131A5D;
    height: 4rem;
}

@media screen and (max-width: 768px) {
     header{display: none;}

     .mobile{
        display: flex;
        padding: 1rem;
     }
     header .btn-outline-success{
        color: #fff;
        border-color: #fff;
     }
     .userIcon{
        height: 2rem;
        width: 2rem;
     }
     .c2, .c3{
        display: none !important;
     }
     .row{
        height: 16rem;
    }

    .filtros{
        display: none;
    }
    .filtrosDropdown{
        display: block;
        padding: 1rem 3rem;
    }
    .filtrosDropdown .btn{
        width: 100%;
        background-color: #ED8634;
        border: none;
    }
    .dropdown-menu{
        width: 80%;
    }
    .mainContainer{
        display: flex;
        flex-direction: column;
    }

}
