body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    width: 100%;
     overflow-x: hidden;
}

.mobile{
    display: none;
}

header{
    width: 100%;
    height: 4rem;
    background-color: #131A5D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

header a, header a img{
    height: 100%;
}

header form{
    width: 30vw;
    height: 3rem;
}

header form .form-control {
    margin: 0;
}

header form .btn-outline-success{
    color: #fff;
    border-color: #fff;
}

header form .btn-outline-success:hover{
    background-color: #00A4BD ;
}

.btnHeader{
    display: flex;
    align-items: center;
}

.btnHeader button{
    margin-right: 8px;
}

.btnHeader .btn-primary{
    background-color: #00A4BD;
}


.btnHeader .btn-primary:hover{
    background-color: #0b5ed7;
}


.btnHeader .btn-outline-secondary{
    color: #fff;
}

.responsive {
    display: none;
}


footer {
    width: 100%;
    background-color: #131A5D;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    position: relative;
    margin-top: 2rem;
}

footer .footer-left,
footer .footer-center,
footer .footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer .footer-center {
    align-items: center;
}

footer .footer-right {
    align-items: flex-end;
}

footer .footer-right .social-icons {
    display: flex;
    gap: 0.5rem;
}

footer .footer-right .social-icons a {
    color: white;
    font-size: 1.2rem;
}

footer .footer-left p,
footer .footer-center img,
footer .footer-right .social-icons a {
    margin: 0.5rem 0;
}


footer .footer-left p {
    margin: 0;
}

footer .footer-center img {
    max-width: 170px;
    height: auto;
}

.signupFrm {
    display: flex;

    align-items: center;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.formInscripcion {
    background-color: white;
    width: 400px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
    align-content: center;
    margin-left: 70px;
}

.title {
    font-size: 30px;
    margin-bottom: 50px;
    color: #131A5D;
    text-align: center;
}
.inputContainer {
    position: relative;
    height: 45px;
    width: 90%;
    margin-bottom: 17px;
    width: 100%;
}
.input {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid #DADCE0;
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
    width: 100%;
}

/* Hide the placeholder texts (a) */

::placeholder {
    color: transparent;
}
.label {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 0 4px;
    background-color: white;
    color: #DADCE0;
    font-size: 16px;
    transition: 0.5s;
    z-index: 0;
}
.submitBtn {
    display: block;
    padding: 15px 30px;
    border: none;
    background-color: #ED8634;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
    width: 100%;

}

.submitBtn:hover {
    background-color: #00A4BD;
    transform: translateY(-2px);
}
.input:focus + .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
    color: #ED8634;
}
.input:focus {
    border: 2px solid #131A5D;
}
.input:not(:placeholder-shown)+ .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
}
.loginLink {
    text-align: center; /* Centra el texto */
    margin-top: 20px; /* Espacio superior */
}

.loginLink a {
    color: #0056b3; /* Color del texto del enlace */
    text-decoration: underline; /* Subrayado del enlace */
}

.loginLink a:hover {
    color: #ED8634; /* Color del texto del enlace al pasar el ratón */
}

.backLink {
    text-align: left;
    color: #131A5D;

}
.volver{
    padding: 20px 40px;
    width: 400px;
    text-align: center; /* Alinea el texto al centro */


}
.backLink a {
    color: #131A5D;
    text-decoration: underline;
}

.backLink a:hover {
    color: #131A5D;
}
.payment-icon {
    width: 30px; /* Ajusta el tamaño según sea necesario */
    height: 30px;
    border-radius: 50%;
    margin-right: 5px; 
  }



.nav-tabs .nav-link {
    border: 1px solid #131A5D !important;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    color: #131A5D !important;
    transition: background-color 0.2s;
}
.nav-tabs .nav-link:hover {
    border-color: #dee2e6 #dee2e6 #f8f9fa;
    background-color: #ED8634;
}
.nav-tabs .nav-link.active {
    color: white !important;
    background-color: #00A4BD !important;
    border-color: #131A5D !important;

}
.tab-content {
    border: 1px solid #131A5D;
    border-top: none;
    padding: 20px;
    background-color: #fff;
}
.tab-pane h2 {
    color: #131A5D;
}

.form-container {
    display: flex;
    align-items: flex-start;
}
.form-container img {
    margin-left: 20px;
}
/* Responsivo */

@media (max-width: 768px) {
    .social-icons {
        flex-direction: row;
    }
}
/* Media queries for responsive design */
/* Media queries for responsive design */
@media (max-width: 768px) {
    .row.align-items-center {
        flex-direction: column;
    }

    .col-lg-7,
    .col-md-7 {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .img-fluid {
        margin-bottom: 20px;
        width: 100%;
    }
}
/* Media queries for responsive design */
@media (max-width: 576px) {
    .signupFrm {
        padding: 10px;
    }

    .row.align-items-center {
        flex-direction: column;
    }

    .col-lg-7
    .col-md-7 {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .img-fluid {
        max-width: 100%;
        align-items: center;
    }
}
.image-container {
    display: flex;
    justify-content:center;
    align-items: flex-start;
}
.image-container img {
    max-width: 100%;
    max-height: 300px; /* Ajusta este valor según tus necesidades */
}
@media only screen and (max-width: 480px) {
    .signupFrm {
        max-width: 90%;
    }

    .input {
        font-size: 14px;
    }
}

/*de index*/
@media screen and (max-width: 768px) {
    header{display: none;}

    .mobile{
       display: flex;
       padding: 1rem;
    }
    header .btn-outline-success{
       color: #fff;
       border-color: #fff;
    }
    .userIcon{
       height: 2rem;
       width: 2rem;
    }
    .c2, .c3{
       display: none !important;
    }
    /* .row{
       height: 16rem;
   } */

   .filtros{
       display: none;
   }
   .filtrosDropdown{
       display: block;
       padding: 1rem 3rem;
   }
   .filtrosDropdown .btn{
       width: 100%;
       background-color: #ED8634;
       border: none;
   }
   .dropdown-menu{
       width: 80%;
   }
   .mainContainer{
       display: flex;
       flex-direction: column;
   }


}
