body {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}
.mobile{
    display: none;
}
header {
    width: 100vw;
    height: 4rem;
    background-color: #131A5D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

header a, header a img{
    height: 100%;
}

header form{
    width: 30vw;
    height: 3rem;
}

header form .form-control {
    margin: 0;
}

header form .btn-outline-success{
    color: #fff;
    border-color: #fff;
}

header form .btn-outline-success:hover{
    background-color: #00A4BD ;
}

.btnHeader{
    display: flex;
    align-items: center;
}

.btnHeader button{
    margin-right: 8px;
}

.btnHeader .btn-primary{
    background-color: #00A4BD;
}

.btnHeader .btn-outline-secondary{
    color: #fff;
}


.responsive {
    display: none;
}


footer {
    background-color: #131A5D;
    color: #fff;
    text-align: center;

}

footer p {
    margin: 0;
    padding: 0 0 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-icons a {
    color: #00A4BD;
    font-size: 24px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #ffffff;
}

.signupFrm {
    display: flex;

    align-items: center;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}
.form {
    background-color: white;
    width: 400px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}

.title {
    font-size: 30px;
    margin-bottom: 50px;
    color: #131A5D;
}
.inputContainer {
    position: relative;
    height: 45px;
    width: 90%;
    margin-bottom: 17px;
    width: 100%;
}
.input {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid #DADCE0;
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
    width: 100%;
}

/* Hide the placeholder texts (a) */

::placeholder {
    color: transparent;
}
.label {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 0 4px;
    background-color: white;
    color: #DADCE0;
    font-size: 16px;
    transition: 0.5s;
    z-index: 0;
}
.submitBtn {
    display: block;
    padding: 15px 30px;
    border: none;
    background-color: #ED8634;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
    width: 100%;

}

.submitBtn:hover {
    background-color: #00A4BD;
    transform: translateY(-2px);
}
.input:focus + .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
    color: #ED8634;
}
.input:focus {
    border: 2px solid #131A5D;
}
.input:not(:placeholder-shown)+ .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
}
.loginLink {
    text-align: center; /* Centra el texto */
    margin-top: 20px; /* Espacio superior */
}

.loginLink a {
    color: #0056b3; /* Color del texto del enlace */
    text-decoration: underline; /* Subrayado del enlace */
}

.loginLink a:hover {
    color: #ED8634; /* Color del texto del enlace al pasar el ratón */
}

.backLink {
    text-align: left;
    color: #131A5D;

}
.volver{
    padding: 20px 40px;
    width: 400px;
    text-align: center; /* Alinea el texto al centro */


}
.backLink a {
    color: #131A5D;
    text-decoration: underline;
}

.backLink a:hover {
    color: #131A5D;
}
.payment-icon {
    width: 30px; /* Ajusta el tamaño según sea necesario */
    height: 30px;
    border-radius: 50%;
    margin-right: 5px; 
  }
  /* Estilo adicional para la barra de navegación de pasos */
.breadcrumb {
    padding: 0;
    border: none; 
    display: flex;
    justify-content: center; 
}

.breadcrumb-item {
    background-color: #d9d7d7 !important; /* Color de fondo para cada ítem */
    padding: 5px; 
    color: #8e8c8c !important; 
    border: 1px groove #c2c0c0 !important;
    text-decoration: none;
    display: inline-block;
    width: 380px; /* Ancho fijo */
    text-align: center; /* Centrar el texto */
}
.breadcrumb-item.active {
    background-color: #007bff !important;
    color: #fff !important;/
}
.breadcrumb-item + .breadcrumb-item::before {
    content: none !important; /* Ocultar la barra entre ítems */
}

/* Responsivo */

@media (max-width: 768px) {
    .social-icons {
        flex-direction: row;
    }
}
/* Media queries for responsive design */
/* Media queries for responsive design */
@media (max-width: 768px) {
    .row.align-items-center {
        flex-direction: column;
    }

    .col-lg-6,
    .col-md-6 {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .img-fluid {
        margin-bottom: 20px;
        width: 100%;
    }
}
/* Media queries for responsive design */
@media (max-width: 576px) {
    .signupFrm {
        padding: 10px;
    }

    .row.align-items-center {
        flex-direction: column;
    }

    .col-lg-6,
    .col-md-6 {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .img-fluid {
        margin-bottom: 20px;
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    .signupFrm {
        max-width: 90%;
    }

    .input {
        font-size: 14px;
    }
}