<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MuniEduca</title>

  <link rel="stylesheet" href="../style/index.css">
  <link rel="stylesheet" href="../style/inscripcion.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<header>
  <a href="index.html">
    <img src="../resources/LogoMuni.png" alt="Bandera municipal">
  </a>
  <form class="d-flex" role="search">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
  <div class="btnHeader">
    <button type="button" class="btn btn-primary">Iniciar sesion</button>
    <button type="button" class="btn btn-outline-secondary">Registrarse</button>
  </div>
</header>

<header class="mobile">
  <img src="../resources/BanderaMuni.png" alt="Bandera municipal">
  <div class="btnHeader">
    <button class="btn btn-outline-success" type="submit">Search</button>
    <img class="userIcon" src="../resources/user.svg" alt="perfil">
  </div>
</header>
<body>
<div class="volver">
  <p class="backLink"><a href="#">Volver a Detalle de Curso</a></p>
</div>
<nav aria-label="breadcrumb">
  <ul class="breadcrumb">
    <li class="breadcrumb-item">Seleccion del Curso</li>
    <li class="breadcrumb-item  active">Cargar datos</li>
      <li class="breadcrumb-item" aria-current="page">Pago</li>
  </ul>
</nav>
<div class="container">
  <div class="row align-items-center"  style="margin-bottom: 52px;">
    <div class="col-lg-5" >
      <!-- Columna para la imagen -->
      <img src="../resources/html.jpg" class="img-fluid" alt="Curso imagen">
    </div>
    <div class="col-lg-7">
      <!-- Columna para el formulario -->
      <div>
        <form action="../views/pagarCurso.html" class="form">
          <h1 class="title">Formulario de Registro</h1>
          <div class="inputContainer">
            <input type="text" class="input form-control" placeholder="Ingresa tu nombre">
            <label for="" class="label">Nombre y Apellido</label>
          </div>
          <div class="inputContainer">
            <input type="email" class="input form-control" placeholder="Ingresa tu correo electrónico">
            <label for="" class="label">Correo Electrónico</label>
          </div>
          <div class="inputContainer">
            <input type="password" class="input form-control" placeholder="Ingresa tu contraseña">
            <label for="" class="label">Contraseña</label>
          </div>
          <div class="inputContainer">
            <input type="password" class="input form-control" placeholder="Confirma tu contraseña">
            <label for="" class="label">Confirmar Contraseña</label>
          </div>
          <button type="submit" class="submitBtn">Registrarme</button>
          <p class="loginLink">¿Ya tienes cuenta? <a href="iniciarSesion.html">Inicia sesión aquí</a></p>
        </form>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="footer-left">
      <p>www.lamatanza.gov.ar</p>
      <p>Almafuerte 3050, San Justo</p>
      <p>011 4651 0101 / 09</p>
  </div>
  <div class="footer-center">
      <img src="../resources/LogoMuni.png" alt="Logo">
  </div>
  <div class="footer-right">
      <div class="social-icons">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="-7 -2 24 24" width="28" fill="currentColor"><path d="M2.046 3.865v2.748H.032v3.36h2.014v9.986H6.18V9.974h2.775s.26-1.611.386-3.373H6.197V4.303c0-.343.45-.805.896-.805h2.254V0H6.283c-4.34 0-4.237 3.363-4.237 3.865z"></path></svg>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="-2 -4 24 24" width="28" fill="currentColor"><path d="M20 1.907a8.292 8.292 0 0 1-2.356.637A4.07 4.07 0 0 0 19.448.31a8.349 8.349 0 0 1-2.607.98A4.12 4.12 0 0 0 13.846.015c-2.266 0-4.103 1.81-4.103 4.04 0 .316.036.625.106.92A11.708 11.708 0 0 1 1.393.754a3.964 3.964 0 0 0-.554 2.03c0 1.403.724 2.64 1.824 3.363A4.151 4.151 0 0 1 .805 5.64v.05c0 1.958 1.415 3.591 3.29 3.963a4.216 4.216 0 0 1-1.08.141c-.265 0-.522-.025-.773-.075a4.098 4.098 0 0 0 3.832 2.807 8.312 8.312 0 0 1-5.095 1.727c-.332 0-.658-.02-.979-.056a11.727 11.727 0 0 0 6.289 1.818c7.547 0 11.673-6.157 11.673-11.496l-.014-.523A8.126 8.126 0 0 0 20 1.907z"></path></svg>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="-2 -2 24 24" width="28" fill="currentColor"><path d="M14.017 0h-8.07A5.954 5.954 0 0 0 0 5.948v8.07a5.954 5.954 0 0 0 5.948 5.947h8.07a5.954 5.954 0 0 0 5.947-5.948v-8.07A5.954 5.954 0 0 0 14.017 0zm3.94 14.017a3.94 3.94 0 0 1-3.94 3.94h-8.07a3.94 3.94 0 0 1-3.939-3.94v-8.07a3.94 3.94 0 0 1 3.94-3.939h8.07a3.94 3.94 0 0 1 3.939 3.94v8.07z"></path><path d="M9.982 4.819A5.17 5.17 0 0 0 4.82 9.982a5.17 5.17 0 0 0 5.163 5.164 5.17 5.17 0 0 0 5.164-5.164A5.17 5.17 0 0 0 9.982 4.82zm0 8.319a3.155 3.155 0 1 1 0-6.31 3.155 3.155 0 0 1 0 6.31z"></path><circle cx="15.156" cy="4.858" r="1.237"></circle></svg>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="-2 -2 24 24" width="28" fill="currentColor"><path d="M19.959 11.719v7.379h-4.278v-6.885c0-1.73-.619-2.91-2.167-2.91-1.182 0-1.886.796-2.195 1.565-.113.275-.142.658-.142 1.043v7.187h-4.28s.058-11.66 0-12.869h4.28v1.824l-.028.042h.028v-.042c.568-.875 1.583-2.126 3.856-2.126 2.815 0 4.926 1.84 4.926 5.792zM2.421.026C.958.026 0 .986 0 2.249c0 1.235.93 2.224 2.365 2.224h.028c1.493 0 2.42-.989 2.42-2.224C4.787.986 3.887.026 2.422.026zM.254 19.098h4.278V6.229H.254v12.869z"></path></svg>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="-2 -5 24 24" width="28" fill="currentColor"><path d="M15.812.017H4.145C1.855.017 0 1.852 0 4.116v5.768c0 2.264 1.856 4.1 4.145 4.1h11.667c2.29 0 4.145-1.836 4.145-4.1V4.116c0-2.264-1.856-4.1-4.145-4.1zM13.009 7.28L7.552 9.855a.219.219 0 0 1-.314-.196V4.35c0-.161.173-.266.318-.193l5.458 2.735a.216.216 0 0 1-.005.389z"></path></svg>
  </div>
</footer>
</body>
</html>